<a href="https://colab.research.google.com/github/yerinsally/2023_PythonDataVis/blob/main/02_num_string_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 숫자형
- 실수형의 소수점 표현방식 : 4.24e-10 = 4.24 * 10^-10
- 8진수와 16진수
    1. 8진수(Octal) : 숫자가 0o 또는 0O(숫자 0 + 알파벳 소문자 o, 대문자 O)로 시작 ex. a = 0o177
    2. 16진수(Hexadecimal) : 0x로 시작 ex. a = 0x8ff

## 활용 연산자
숫자형 활용하기 위한 연산자

In [ ]:
# ** : x의 y제곱
a = 3
b = 4
a ** b

81

In [ ]:
# % : 나눗셈 후 나머지 반환
7 % 3

1

In [ ]:
# // : 나눗셈 후 몫 반환
7 // 3

2

# 문자열
문자열 어떻게 만들고 사용할까?
→ 'a', "a", '''a''', """a"""

In [ ]:
# 문자열 안에 작은따옴표, 큰따옴표 포함시키고 싶을 때
a = "Python's favorite food is perl"
print(a)
b = '"Python is very easy." he says.'
print(b)

Python's favorite food is perl
"Python is very easy." he says.

In [ ]:
a = 'Python\'s favorite food is perl'
b = "\"Python is very easy.\" he says."
print(a)
print(b)

Python's favorite food is perl
"Python is very easy." he says.

In [ ]:
# 여러 줄인 문자열을 변수에ㅔ 대입하고 싶을 때
# 이스케이프 코드 \n 삽입
multiline = "Life is too short\nYou need python"
print(multiline)

Life is too short
You need python

In [ ]:
# 연속된 작은따옴표/큰따옴표 3개 사용
multiline = '''
Life is too short
You need python
'''
print(multiline)

Life is too short
You need python

이스케이프 코드 = \n, \t, \\, \', \" 등

## 문자열 연산

In [ ]:
# 문자열 더하기
a = "Python"
b = " is fun!"
print(a + b)

# 문자열 곱하기
print(a * 2)

print("=" * 50)
print("My program")
print("=" * 50)

# 문자열 길이 구하기
a = "Life is too short"
len(a)

Python is fun!
PythonPython
==================================================
My program
==================================================

17

## 인덱싱 & 슬라이싱
- 인덱싱 : 무언가를 가리킨다
- 슬라이싱 : 무언가를 잘라낸다

In [ ]:
# 인덱싱 : 파이썬은 0부터 숫자를 센다!
a = "Life is too short, You need Python"
print(a[3])
print(a[-1])

e
n

In [ ]:
# 문자열 슬라이싱
print(a[0:4])
print(a[12:17])
print(a[19:])
print(a[19:-7])

Life
short
You need Python
You need

In [ ]:
a = "20010331Rainy"
year = a[:4]
day = a[4:8]
weather = a[8:]
print(year)
print(day)
print(weather)

2001
0331
Rainy

## 문자열 포매팅
문자열 안에 어떤 값을 삽입하는 방법 → 문자열 안의 특정한 값을 바꿔야 할 경우에 사용

In [ ]:
# 숫자 바로 대입 : %d
print("I eat %d apples" %3)

# 문자열 바로 대입 : %s
print("I eat %s apples" %"five")

# 숫자 값을 나타내는 변수 대입 : %d
number = 3
print("I eat %d apples" %number)

I eat 3 apples
I eat five apples
I eat 3 apples

In [ ]:
# 2개 이상의 값 넣기
number = 10
day = "three"
"I ate %d apples. So I was sick for %s days" %(number, day)

'I ate 10 apples. So I was sick for three days'

- 문자열 포맷 코드 : %d, %s 등
- 포매팅 연산자 %d와 %를 같이 쓸 경우에는 %%

In [ ]:
"Error is %d%%" %98

'Error is 98%'

### 포맷 코드와 숫자 함께 사용

In [ ]:
# 정렬과 공백
print("%10s" %"hi")
print("%-10sjane" %"hi")

        hi
hi        jane

%10s = 전체 길이가 10개인 문자열 공간에서 대입되는 값을 오른쪽으로 정렬하고 그 앞의 나머지는 공백으로 남겨두라는 의미

In [ ]:
# 소수점 표현하기
print("%0.4f" %3.42134234)
print("%10.4f" % 3.42134234)

3.4213
    3.4213

- '.' = 소수점 포인트, 그 뒤의 숫자 4는 소수점 뒤에 나올 숫자의 개수
- 소수점 네 번째 자리까지만 표시하고 전체 길이가 10개인 문자열 공간에서 오른쪽으로 정렬

### format 함수

In [ ]:
# 숫자 바로 대입
print("I eat {0} apples".format(3))

# 문자열 바로 대입
print("I eat {0} apples".format("five"))

# 숫자 값을 가진 변수 대입
number = 3
print("I eat {0} apples".format(number))

I eat 3 apples
I eat five apples
I eat 3 apples

In [ ]:
# 2개 이상의 값 넣기
number = 10
day = "three"
print("I ate {0} apples. so I was sick for {1} days.".format(number, day))

# 이름으로 넣기
print("I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3))

# 인덱스와 이름을 혼용해서 넣기
print("I ate {0} apples. so I was sick for {day} days.".format(10, day=3))

I ate 10 apples. so I was sick for three days.
I ate 10 apples. so I was sick for 3 days.
I ate 10 apples. so I was sick for 3 days.

In [ ]:
# 왼쪽 정렬
print("{0:<10}".format("hi"))

# 가운데 정렬
print("{0:^10}".format("hi"))

hi
    hi

In [ ]:
# 공백 채우기
print("{0:=^10}".format("hi"))
print("{0:!<10}".format("hi"))

====hi====
hi!!!!!!!!

In [ ]:
# 소수점 표현하기
y = 3.42134234
"{0:0.4f}".format(y)

'3.4213'

### f 문자열 포매팅
- 변수 값을 생성한 후에 그 값을 참조할 수 있다.

In [ ]:
name = '홍길동'
age = 30
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [ ]:
age = 30
f'나는 내년이면 {age+1}살이 된다.'

'나는 내년이면 31살이 된다.'

In [ ]:
# 딕셔너리
d = {'name':'홍길동', 'age':30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [ ]:
# 정렬
print(f'{"hi":<10}')  # 왼쪽 정렬
print(f'{"hi":>10}')  # 오른쪽 정렬
print(f'{"hi":^10}')  # 가운데 정렬

hi
        hi
    hi

In [ ]:
# 공백 채우기
print(f'{"hi":=^10}')
print(f'{"hi":!<10}')

====hi====
hi!!!!!!!!

In [ ]:
# 소수점 표현
y = 3.42134234
print(f'{y:0.4f}')  # 소수점 4자리까지만 표현
print(f'{y:10.4f}')  # 소수점 4자리까지 표현하고 총 자리수를 10으로 맞춤

3.4213
    3.4213

## 문자열 관련 함수

In [ ]:
# 문자 개수 세기 : count
a = "hobby"
a.count('b')

2

In [ ]:
# 위치 알려주기1 : find
a = "Python is the best choice"
print(a.find('b'))
print(a.find('k'))

# 위치 알려주기2 : index
a = "Life is too short"
print(a.index('t'))

14
-1
8

In [ ]:
# 문자열 삽입 : join
",".join('abcd')

'a,b,c,d'

In [ ]:
# 소문자를 대문자로 바꾸기 : upper
a = "hi"
print(a.upper())

# 대문자를 소문자로 바꾸기 : lower
a = "HI"
print(a.lower())

HI
hi

In [ ]:
# 왼쪽 공백 지우기 : lstrip
a = " hi "
print(a.lstrip())

# 오른쪽 공백 지우기 : rstrip
a= " hi "
print(a.rstrip())

# 양쪽 공백 지우기 : strip
a = " hi "
print(a.strip())

hi
 hi
hi

In [ ]:
# 문자열 바꾸기 : replace
a = "Life is too short"
print(a.replace("Life", "Your leg"))

# 문자열 나누기 : split
a = "Life is too short"
print(a.split())
b = "a:b:c:d"
print(b.split(':'))

Your leg is too short
['Life', 'is', 'too', 'short']
['a', 'b', 'c', 'd']

# 리스트

In [ ]:
a = [1,2,3,['a','b','c'],4,5]
a

[1, 2, 3, ['a', 'b', 'c'], 4, 5]

## 인덱싱 & 슬라이싱

In [ ]:
print(a[2])
print(a[3][2])

3
c

In [ ]:
print(a[2:5])
print(a[3][:2])
print("hi" * a[2])

[3, ['a', 'b', 'c'], 4]
['a', 'b']
hihihi

In [ ]:
# str = 문자열로 바꾸는 함수
"hi" + str(a[2])

'hi3'

## 리스트 연산

In [ ]:
# 리스트 더하기
a = [1,2,3]
b = [4,5,6]
print(a + b)

# 리스트 반복하기
print(a * 3)

# 리스트 길이 구하기
print(len(a))

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
3

## 리스트 관련 함수
리스트 수정 & 삭제

In [ ]:
# 리스트에 값 수정
a = [1,2,3,4,5]
a[2] = 4
print(a)

# 리스트에 요소 삭제 : del 객체
del a[2:]
print(a)

[1, 2, 4, 4, 5]
[1, 2]

In [ ]:
# 리스트에 요소 추가 : append
a = [1,2,3,4,5]
a.append(4)
print(a)
a.append([5,6])
print(a)

[1, 2, 3, 4, 5, 4]
[1, 2, 3, 4, 5, 4, [5, 6]]

In [ ]:
# 리스트 정렬 : sort
a = [1,4,2,3]
a.sort()
print(a)

a = ['a','c','b']
a.sort()
print(a)

[1, 2, 3, 4]
['a', 'b', 'c']

In [ ]:
# 리스트 뒤집기 : reverse
a.reverse()
a

['c', 'b', 'a']

In [ ]:
# 인덱스값 반환
a = [1,2,3,4,5,6,7]
print(a.index(3))
print(a.index(6))

2
5

In [ ]:
# 리스트에 요소 삽입 : insert
a = [1,2,3,4,5,6,7]
a.insert(0,8)
a

[8, 1, 2, 3, 4, 5, 6, 7]

In [ ]:
# 리스트 제거 : remove
a = [1,2,3,1,2,3]
a.remove(3) # 첫번째로 나오는 x 삭제
print(a)

a.remove(3)
print(a)

[1, 2, 1, 2, 3]
[1, 2, 1, 2]

In [ ]:
# 리스트 요소 끄집어내기 : pop
# 리스트의 맨 마지막 요소 리턴 후 삭제
a = [1,2,3,4,5,6,7]
a.pop()
print(a)

a.pop(4)  # 리스트의 x번째 요소 리턴, 그 요소는 삭제
print(a)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 6]

In [ ]:
# 리스트 확장 : extend
a = [1,2,3]
a.extend([4,5])
print(a)

a = a + [6,7]
print(a)

a += [8,9,10] # a = a + [8,9,10]
print(a)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]