<a href="https://colab.research.google.com/github/yerinsally/2023_PythonDataVis/blob/main/03_tuple_dict_set_bool.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 튜플 자료형
튜플(tuple)은 몇 가지 점을 제외하곤 리스트와 거의 비슷하며 리스트와 다른 점은 다음과 같다.

- 리스트는 [ ]으로 둘러싸지만 튜플은 ( )으로 둘러싼다.
- 리스트는 요소 값의 생성, 삭제, 수정이 가능하지만 튜플은 요소 값을 바꿀 수 없다.

In [ ]:
t1 = ()
t2 = (1,)
t3 = (1,2,3)
t4 = 1,2,3
t5 = ('a','b',('ab','cd'))

튜플 요솟값을 삭제하거나 변경하려하면 Error

## 튜플 다루기

In [ ]:
# 인덱싱
t1 = (1,2,'a','b')
print(t1[0])
print(t1[3])

# 슬라이싱
print(t1[1:])

# 튜플 더하기
t2 = (3,4)
t3 = t1 + t2
print(t3)

# 튜플 곱하기
t3 = t2 * 3
print(t3)

# 튜플 길이 구하기
print(len(t1))

1
b
(2, 'a', 'b')
(1, 2, 'a', 'b', 3, 4)
(3, 4, 3, 4, 3, 4)
4

# 딕셔너리 자료형
기본 딕셔너리의 모습

{Key1 : Value1, Key2 : Value2, Key3 : Value3, ...}

- Key와 Value의 쌍 여러 개가 { }로 둘러싸여 있다. 
- 각각의 요소는 Key : Value 형태로 이루어져 있고 쉼표(,)로 구분되어 있다.

In [ ]:
dic = {'name':'pey', 'phone':'010-9999-1234', 'birth': '1118'}
dic

{'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}

In [ ]:
# 딕셔너리 쌍 추가 및 삭제
a = {1:'a'}
a[2] = 'b'
print(a)

a['name'] = 'pay'
print(a)

a[3] = [1,2,3]
print(a)

{1: 'a', 2: 'b'}
{1: 'a', 2: 'b', 'name': 'pay'}
{1: 'a', 2: 'b', 'name': 'pay', 3: [1, 2, 3]}

In [ ]:
del a[1]
a

{2: 'b', 'name': 'pay', 3: [1, 2, 3]}

## 딕셔너리 활용하기

In [ ]:
# 딕셔너리에서 key 사용해 value 얻기
print(dic['name'])
print(dic['phone'])
print(dic['birth'])

grade = {'pey': 10, 'julliet': 99}
print(grade['pey'])

pey
010-9999-1234
1118
10

In [ ]:
# 중복
a = {1:'a', 1:'b'}
a

{1: 'b'}

딕셔너리에서 Key는 고유한 값이므로 중복되는 Key 값을 설정해 놓으면 하나를 제외한 나머지 것들이 모두 무시됨

## 딕셔너리 관련 함수

In [ ]:
# key 리스트 만들기 : keys
a = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
print(a.keys())

for k in a.keys():
  print(k)

# 리스트로 변환
list(a.keys())

dict_keys(['name', 'phone', 'birth'])
name
phone
birth

['name', 'phone', 'birth']

In [ ]:
# value 리스트 만들기 : values
print(a.values())

# key, value 쌍 얻기 : items
print(a.items())

# key:value 쌍 모두 지우기 : clear
a.clear()
print(a)

# key로 value 얻기 : get
a = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
print(a.get('name'))
print(a.get('nokey'))

# 해당 key가 딕셔너리 안에 있는지 조사하기 : in
print('name' in a)
print('email' in a)

dict_values(['pey', '010-9999-1234', '1118'])
dict_items([('name', 'pey'), ('phone', '010-9999-1234'), ('birth', '1118')])
{}
pey
None
True
False

# 집합 자료형
- 중복을 허용하지 않는다
- 순서가 없다(Unordered)

In [ ]:
t1 = [1,2,3,4,5,4,6,3,7]
t1

[1, 2, 3, 4, 5, 4, 6, 3, 7]

In [ ]:
# 집합은 중복 허용 안함
s1 = set([1,2,3,4,5,4,6,3,7])
s1

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
s1 = set([1,2,3])
print(s1)

s2 = set('Hello')
print(s2)

{1, 2, 3}
{'H', 'e', 'o', 'l'}

In [ ]:
s1 = set([1,2,3])
l1 = list(s1)
print(l1[0])

t1 = tuple(s1)
print(t1[0])

1
1

set 자료형에 저장된 값을 인덱싱으로 접근하려면 리스트나 튜플로 변환해야함

## 교집합, 합집합, 차집합

In [ ]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

# 교잽합
print(s1 & s2)
print(s1.intersection(s2))

# 합집합
print(s1 | s2)
print(s1.union(s2))

# 차집합
print(s1 - s2)
print(s2 - s1)
print(s1.difference(s2))
print(s2.difference(s1))

{4, 5, 6}
{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}
{8, 9, 7}
{1, 2, 3}
{8, 9, 7}

## 집합 관련 함수

In [ ]:
# 값 1개 추가하기 : add
s1.add(10)
print(s1)

# 값 여러 개 추가하기 : update
s1.update([4,5,7,20,22,25])
print(s1)

# 특정 값 제거하기 : remove
s1.remove(22)
print(s1)

{1, 2, 3, 4, 5, 6, 7, 10}
{1, 2, 3, 4, 5, 6, 7, 10, 20, 22, 25}
{1, 2, 3, 4, 5, 6, 7, 10, 20, 25}

# 불 자료형
참(True)과 거짓(False)을 나타내는 자료형

In [ ]:
a = True
b = False
type(a)

bool

In [ ]:
print(1 == 1)
print(1 == 2)
print(1 > 2)

True
False
False

문자열, 리스트, 튜플, 딕셔너리 등의 값이 비어 있으면(" ", [ ], ( ), { }) 거짓

In [ ]:
# while문에 활용하기
a = [1,2,3,4]
while a:
  print(a.pop())
print('Finish')

4
3
2
1
Finish

In [ ]:
if []:
  print('참')
else:
  print('거짓')

거짓

In [ ]:
print(bool('python'))
print(bool(''))
print(bool([1,2,3]))
print(bool(0))
print(bool(3))

True
False
True
False
True