<a href="https://colab.research.google.com/github/yerinsally/2023_PythonDataVis/blob/main/04_if_while_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# if 문


```
if 조건문:
  수행할 문장1
  수행할 문장2
else:
  수행할 문장A
  수행할 문장B
```

In [ ]:
money  = True
if money:
  print("택시를 타고 가라")
else:
  print("걸어가라")

택시를 타고 가라

In [ ]:
money  = True
if money:
  print("택시를 타고 가라")
  print("두 번째 문장")
  print("세 번째 문장")
else:
  print("걸어가라")
  print("마지막 문장")

택시를 타고 가라
두 번째 문장
세 번째 문장

## 조건문

In [ ]:
x = 3
y = 2
print(x > y)
print(x == y)
print(x != y)

True
False
True

예제

만약 3000원 이상의 돈을 가지고 있으면 택시를 타고 그렇지 않으면 걸어가라

In [ ]:
money = 2000
if money >= 3000:
  print("택시를 타고 가라")
else:
  print("걸어가라")

걸어가라

In [ ]:
money = 5000
if money >= 3000:
  print("택시를 타고 가라")
else:
  print("걸어가라")

택시를 타고 가라

## 논리 연산자

In [ ]:
money = 2000
card = True
if money >= 3000 or card == True:
  print("택시를 타고 가라")
else:
  print("걸어가라")

택시를 타고 가라

In [ ]:
money = 2000
card = True
if money >= 3000 or card == False:
  print("택시를 타고 가라")
else:
  print("걸어가라")

걸어가라

In [ ]:
money = 2000
card = True
if money >= 2000 and card == True:
  print("택시를 타고 가라")
else:
  print("걸어가라")

택시를 타고 가라

In [ ]:
money = 2000
card = True
if money >= 3000 and card == True:
  print("택시를 타고 가라")
else:
  print("걸어가라")

걸어가라

In [ ]:
money = 2000
card = True
if money >= 2000 and not card:
  print("택시를 타고 가라")
else:
  print("걸어가라")

걸어가라

in, not in

In [ ]:
1 in [1,2,3]

True

In [ ]:
if (1 not in [1,2,3]):
  print("True")
else:
  print("False")

False

In [ ]:
'j' not in "python"

True

In [ ]:
pocket = ['paper', 'cellphong', 'money']
if 'money' in pocket:
  print("택시를 타고 가라")
else:
  print("걸어가라")

택시를 타고 가라

In [ ]:
# 조건문에서 아무 일도 하지 않게 설정 : pass
pocket = ['paper', 'money', 'cellphone']
if 'money' in pocket:
  pass 
else:
  print("카드를 꺼내라")

In [ ]:
# elif = 다양한 조건 판단
pocket = ['paper', 'cellphone']
card = True
if 'money' in pocket:
  print("택시를 타고가라")
elif card: 
  print("택시를 타고가라")
else:
  print("걸어가라")

택시를 타고가라

In [ ]:
score = 70
if score >= 60:
    message = "success"
else:
    message = "failure"
print(message)

# 조건부 표현식
message = "success" if score >= 60 else "failure"
print(message)

success
success

# while 문


```
while 조건문:
  수행할 문장1
  수행할 문장2
```

In [ ]:
treeHit = 0
while treeHit < 10:
  treeHit = treeHit +1
  print("나무를 %d번 찍었습니다." % treeHit)
if treeHit == 10:
  print("나무 넘어갑니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.

In [ ]:
prompt = """
1. Add
2. Del
3. List
4. Quit

Enter number : """
print(prompt)

1. Add
2. Del
3. List
4. Quit

Enter number :

In [ ]:
number = 0
while number != 4:
  print(prompt)
  number = int(input())

1. Add
2. Del
3. List
4. Quit

Enter number :
3

1. Add
2. Del
3. List
4. Quit

Enter number :
4

In [ ]:
# while문 강제로 빠져나가기 : break
coffee = 10
money = 300
while money:
  print("돈을 받았으니 커피를 줍니다.")
  coffee = coffee-1
  print("남은 커피의 양은 %d개입니다."%coffee)
  if coffee == 0:
    print("커피가 다 떨어졌습니다. 판매를 중지합니다.")
    break

돈을 받았으니 커피를 줍니다.
남은 커피의 양은 9개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 8개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 7개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 6개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 5개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 4개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 3개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 2개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 1개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 0개입니다.
커피가 다 떨어졌습니다. 판매를 중지합니다.

In [ ]:
coffee = 10
while True:
    money = int(input("돈을 넣어 주세요: "))
    if money == 300:
        print("커피를 줍니다.")
        coffee = coffee -1
    elif money > 300:
        print("거스름돈 %d를 주고 커피를 줍니다." % (money -300))
        coffee = coffee -1
    else:
        print("돈을 다시 돌려주고 커피를 주지 않습니다.")
        print("남은 커피의 양은 %d개 입니다." % coffee)
    if coffee == 0:
        print("커피가 다 떨어졌습니다. 판매를 중지 합니다.")
        break

돈을 넣어 주세요: 500
거스름돈 200를 주고 커피를 줍니다.
돈을 넣어 주세요: 400
거스름돈 100를 주고 커피를 줍니다.
돈을 넣어 주세요: 700
거스름돈 400를 주고 커피를 줍니다.
돈을 넣어 주세요: 100
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 7개 입니다.
돈을 넣어 주세요: 700
거스름돈 400를 주고 커피를 줍니다.
돈을 넣어 주세요: 500
거스름돈 200를 주고 커피를 줍니다.
돈을 넣어 주세요: 800
거스름돈 500를 주고 커피를 줍니다.
돈을 넣어 주세요: 600
거스름돈 300를 주고 커피를 줍니다.
돈을 넣어 주세요: 400
거스름돈 100를 주고 커피를 줍니다.
돈을 넣어 주세요: 700
거스름돈 400를 주고 커피를 줍니다.
돈을 넣어 주세요: 800
거스름돈 500를 주고 커피를 줍니다.
커피가 다 떨어졌습니다. 판매를 중지 합니다.

In [ ]:
# while문 맨 처음으로 돌아가기 : continue
a = 0
while a < 10:
  a = a + 1
  if a % 2 == 0: continue
  print(a)

1
3
5
7
9

# for 문


```
for 변수 in 리스트(또는 튜플, 문자열):
  수행할 문장1
  수행할 문장2
```

In [ ]:
test_list = ['one','two','three']
for i in test_list:
  print(i)

one
two
three

In [ ]:
a = [(1,2), (3,4), (5,6)]
for (first, last) in a:
  print(first + last)

3
7
11

-  예제

총 5명의 학생이 시험을 보았는데 시험 점수가 60점 이상이면 합격이고 그렇지 않으면 불합격이다. 합격인지 불합격인지 결과를 보여 주시오.

In [ ]:
marks = [90, 25, 67, 45, 80]

number = 0 
for mark in marks: 
    number += 1
    if mark >= 60: 
        print("%d번 학생은 합격입니다." % number)
    else: 
        print("%d번 학생은 불합격입니다." % number)

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [ ]:
# continue
marks = [90, 25, 67, 45, 80]

number = 0 
for mark in marks: 
    number += 1
    if mark < 60:
        continue 
    print("%d번 학생 축하합니다. 합격입니다. " % number)

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

for문 안의 문장을 수행하는 도중에 continue문을 만나면 for문의 처음으로 돌아가게 된다.

## range 함수
for문과 함께 자주 사용하는 range 함수

In [ ]:
add = 0 
for i in range(1, 11): 
  add = add + i 

print(add)

55

In [ ]:
marks = [90, 25, 67, 45, 80]
for number in range(len(marks)):
    if marks[number] < 60: 
        continue
    print("%d번 학생 축하합니다. 합격입니다." % (number+1))

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

len 함수는 리스트 안의 요소 개수를 돌려주는 함수이다. 따라서 len(marks)는 5가 될 것이고 range(len(marks))는 range(5)가 될 것이다. number 변수에는 차례로 0부터 4까지의 숫자가 대입될 것이고, marks[number]는 차례대로 90, 25, 67, 45, 80 값을 갖게 된다. 결과는 앞의 예제와 동일하다.

In [ ]:
# for과 range를 이용한 구구단
for i in range(2,10):
  for j in range(1, 10):
    print(i*j, end=" ") 
  print('')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

리스트 컴프리헨션
- [표현식 for 항목 in 반복가능객체 if 조건문]

In [ ]:
a = [1,2,3,4]
result = []
for num in a:
  result.append(num*3)
print(result)

# 리스트 컴프리헨션
result = [num * 3 for num in a]
print(result)

# 짝수에만 3을 곱하여 담고 싶다면
result = [num * 3 for num in a if num % 2 == 0]
print(result)

[3, 6, 9, 12]
[3, 6, 9, 12]
[6, 12]