<a href="https://colab.research.google.com/github/yerinsally/2023_PythonDataVis/blob/main/05_function_input.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 함수 function


```
def 함수명(매개변수):
  수행할 문장1
  수행할 문장2
```

In [ ]:
def add(a,b):
    return a+b

a = 3
b = 4
c = add(a,b)
print(c)

7

## 매개변수 & 인수

In [ ]:
def add(a,b):   # a,b = 매개변수
  return a+b
print(add(3,4)) # 3,4 = 인수

7

In [ ]:
a = 3
b = 4
def add(a, b):
    result = a + b
    return(result)

a = add(a, b)
print(a)

7

In [ ]:
# 입력값이 없는 함수
def say():
    return('Hi')
a = say()
print(a)

Hi

In [ ]:
# 리턴값이 없는 함수
def add(a, b):
    print('%d, %d의 합은 %d입니다.' %(a, b, a+b))
add(3,4)

3, 4의 합은 7입니다.

In [ ]:
a = add(3,4)
print(a)  # return으로 받은 값 없음

3, 4의 합은 7입니다.
None

In [ ]:
# 매개변수 지정하여 호출하기
def sub(a, b):
    return a-b
result = sub(a=7, b=4) # 매개변수에 값 대입
print(result)

3

In [ ]:
# 입력값이 몇개가 될지 모르는 경우 : *args
# def 함수이름(*매개변수): 수행할 문장
from ast import Return
def add_many(*args):
    result = 0
    for i in args:
      result = result + i
    return(result)

result = add_many(1,3,5,7)
print(result)

16

*args처럼 매개변수 이름 앞에 *을 붙이면 입력값을 전부 모아서 튜플로 만들어 줌

In [ ]:
result = add_many(1,2,3,4,5,6,7,8,9,10)
print(result)

55

In [ ]:
def add_mul(choice, *args):
    if choice == "add":
      result = 0
      for i in args:
        result = result + i
    elif choice == "mul":
      result = 1
      for i in args:
        result = result * i
    return result

result = add_mul('add', 1,2,3,4,5)
print(result)

result = add_mul('mul', 12,10,4,8,3)
print(result)

15
11520

In [ ]:
# 키워드 매개변수 : **kwargs
def print_kwargs(**kwargs):
    print(kwargs)

print_kwargs(a=1)
print_kwargs(name='foo', age=3, city='Seoul')

{'a': 1}
{'name': 'foo', 'age': 3, 'city': 'Seoul'}

In [ ]:
def add_and_mul(a,b):
    return a+b, a*b
result = add_and_mul(3,4)
print(result)

(7, 12)

함수의 리턴값은 언제나 하나 : 튜플값 하나인 (a+b, a*b)로 리턴

In [ ]:
result1, result2 = add_and_mul(3,4)
print(result1, result2)

7 12

In [ ]:
def add_and_mul(a,b):
    return a+b
    return a*b

add_and_mul(3,4) # 첫번째만 출력됨

7

In [ ]:
# 매개변수에 초깃값 미리 설정하기
def say_myself(name, age, man=True):
    print('나의 이름은 %s입니다.' %name)
    print('나이는 %d살입니다.' %age)
    if man:
      print('남자입니다.')
    else:
      print('여자입니다.')

say_myself("박응용", 27, True)
say_myself('김숙명', 20, False)

나의 이름은 박응용입니다.
나이는 27살입니다.
남자입니다.
나의 이름은 김숙명입니다.
나이는 20살입니다.
여자입니다.

In [ ]:
# 함수 안에서 선언한 변수의 효력 범위
a = 1
def vartest(a):
    a = a+1

vartest(a)
print(a)

1

함수 안에서 사용하는 매개변수는 함수 안에서만 사용하는 "함수만의 변수"이기 때문

In [ ]:
def vartest(hello):
    hello = hello + 1

a = 3
vartest(a)
print(a)

3

In [ ]:
# 함수 안에서 함수 밖의 변수를 변경하는 방법
# return
a = 1
def vartest(a):
    a = a+1
    return a

a = vartest(a)
print(a)

# global
a = 1
def vartest():
    global a
    a = a+1

vartest()
print(a)

2
2

In [ ]:
# lambda : 함수 생성할때 사용하는 예약어
# 함수명 = lambda 매개변수1, 매개변수2, ... : 매개변수를 이용한 표현식
add = lambda a, b: a+b
result = add(3,4)
print(result)

7

# 사용자 입력과 출력
input()

In [ ]:
a = input()
print(a)

Life is too short, you need python
Life is too short, you need python

In [ ]:
number = input('숫자를 입력하세요 :')
print(number) # int 아닌 str 문자열 값
type(number)

숫자를 입력하세요 :46
46

str

In [ ]:
# 문자열 띄어쓰기는 콤마로 함
print("life", "is", "too short")

life is too short

In [ ]:
# 한 줄에 결괏값 출력하기 : end=' '
for i in range(10):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9