<a href="https://colab.research.google.com/github/yerinsally/2023_PythonDataVis/blob/main/mid_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Week 1
### Python 개요

In [ ]:
print("안녕하세요")
print(2023-1906)
print('Hello Python')

print("Welcome to Python World")
print("나는 숙명여자대학교 눈송이입니다.")

안녕하세요
117
Hello Python
Welcome to Python World
117
나는 숙명여자대학교 눈송이입니다.

In [ ]:
# 터틀그래픽 : 파이참으로 실행
'''
import turtle as t
t.shape("turtle")

t.up()
t.goto(-150,0)
t.down()
t.circle(80)

t.up()
t.goto(-0,0)
t.down()
t.circle(80)

t.up()
t.goto(150,0)
t.down()
t.circle(80)

t.up()
t.goto(-80,-100)
t.down()
t.circle(80)

t.up()
t.goto(80,-100)
t.down()
t.circle(80)
'''

# 터틀그래픽 2
'''
import turtle

colors = ["red","purple","blue","green","yellow","orange"]
t = turtle.Turtle()

turtle.bgcolor("black")
t.speed(0)
t.width(3)
length = 10

while length < 500:
    t.forward(length)
    t.pencolor(colors[length%6])
    t.right(89)
    length += 5
    '''

'\nimport turtle\n\ncolors = ["red","purple","blue","green","yellow","orange"]\nt = turtle.Turtle()\n\nturtle.bgcolor("black")\nt.speed(0)\nt.width(3)\nlength = 10\n\nwhile length < 500:\n    t.forward(length)\n    t.pencolor(colors[length%6])\n    t.right(89)\n    length += 5\n    '

# Week 2
### Pycharm, 입출력 함수

In [ ]:
# 도전문제1

print('Hello', ',' , 'World', '!')
print ('Hello' + ',' + 'World' + '!')
print('헬로, 파이썬!')
print('Hello' , 'Python!', sep=' ')
print('Hello' , 'Python!', sep=',')

Hello , World !
Hello,World!
헬로, 파이썬!
Hello Python!
Hello,Python!

print 함수의 sep 파라미터 = 기호 다음에 나오는 파라미터 값으로 출력할 요소들을 구분하는 기능

In [ ]:
# 도전문제2

print(350 + 150)
print('350 + 150')
print(3.141592 * 2)
print((1/100) * 1234)
print(2345 * (8976 - 5678))
print(3/2.4)

500
350 + 150
6.283184
12.34
7733810
1.25

In [ ]:
# 화씨온도를 섭씨온도로 변환
f_temp = int(input("화씨온도 입력:"))
c_temp = (f_temp-32)*5/9
print("섭씨온도:", c_temp)
print("섭씨온도:%0.2f" %c_temp) # 소수점 자리

# 섭씨온도를 화씨온도로 변환
c_temp = int(input("섭씨온도 입력:"))
f_temp = (c_temp*9/5)+32
print("화씨온도:", f_temp)

화씨온도 입력:100
섭씨온도: 37.77777777777778
섭씨온도:37.78
섭씨온도 입력:100
화씨온도: 212.0

# Week 3
### 자료형_숫자문자형

In [ ]:
# 문자열 자료형 연습

print("\n줄바꿈\n연습")              # 줄바꿈
print("\t탭키\t연습")                # 탭
print("글자가 \'강조\'되는 효과")    # 홑따옴표
print("\\\\\\역슬래쉬 세 개 출력")   # 역슬래쉬
print('c:\windows\no1SMU\test')      # 결과는?
print('c:\windows\\no1SMU\\test')
print(r'c:\windows\no1SMU\test')     # r = raw
print('c:\windows\no1SWU\test')

줄바꿈
연습
	탭키	연습
글자가 '강조'되는 효과
\\\역슬래쉬 세 개 출력
c:\windows
o1SMU	est
c:\windows\no1SMU\test
c:\windows\no1SMU\test
c:\windows
o1SWU	est

In [ ]:
# 반복연습
print('='*20)
print('My Program')
print('='*20)

# 문자열 길이 구하기
a = "Life is too short, You need Python"
print(len(a))

====================
My Program
====================
34

In [ ]:
# 문자열 인덱싱
a = "Life if too short, You need Python"
print(len(a))
print(a[3])
print(a[0])
print(a[33])
print(a[-1])
print(a[-6])
print(a[-0])
print(a[0] + a[1] + a[2] + a[3])

# 문자열 슬라이싱
# 슬라이싱 시 끝 인덱스는 포함되지 않음
print(a[0:5])
print(a[0:3])
print(a[12:17])
print(a[19:])
print(a[:17])
print(a[19:-7])

34
e
L
n
n
P
L
Life
Life
Lif
short
You need Python
Life if too short
You need

In [ ]:
# 문자열의 요소값은 바꿀 수 없다 : immutable 자료형
a = "Pithon"
print(a[:1])
print(a[2:])
print(a[:1] + 'y' + a[2:])

P
thon
Python

In [ ]:
# 문자열 포매팅 학습
print("I eat %d apples." %3)
print("I eat %s appples." %"five")
# 문자열은 s 삽입
#  %s 포맷 코드로 어떤 형태로든 변환 가능

number = 3
day = "three"
print("I eat %d apples." %number)
print("I ate %d apples. So I was sick %s days." %(number, day))

print("Error is %d%%" %98)

I eat 3 apples.
I eat five appples.
I eat 3 apples.
I ate 3 apples. So I was sick three days.
Error is 98%

In [ ]:
# 포맷코드와 숫자 함께 사용하기

# 정렬과 공백
print("%10s" %"hi")
print("%-10s" %"hi")
print("%-10sjane" %"hi")

# 소수점 표현하기
print("%0.4f" %3.1234567890)
print("%0.2f" %3.1234567890)
print("%.2f" %3.1234567890)
print("%10.4f" %3.1234567890) # 전체 10자리에 소숫점 4자리까지

# .format() 함수
print("I eat {} apples.".format(3))
print("I eat {} apples.".format("five"))

number = 10
day = "three"
print("I ate {} apples. So I was sick {} days.".format(number, day))
print("I ate {} apples. So I was sick {day} days.".format(3, day = "three"))

# f 문자열 포매팅
name = "눈송이"
age = 23
print(f"나의 이름은 {name}입니다. 나이는 {age}입니다.")
print(f"눈송이는 내년에 {age+1}살이 됩니다.")

        hi
hi
hi        jane
3.1235
3.12
3.12
    3.1235
I eat 3 apples.
I eat five apples.
I ate 10 apples. So I was sick three days.
I ate 3 apples. So I was sick three days.
나의 이름은 눈송이입니다. 나이는 23입니다.
눈송이는 내년에 24살이 됩니다.

In [ ]:
# 고급 문자열 포매팅

# 1. 왼쪽 정렬
print("{0:<10}".format("hi"))
print(f'{"hi":<10}')

# 2. 오른쪽 정렬
print("{0:>10}".format("hi"))
print(f'{"hi":>10}')

# 3. 가운데 정렬
print("{0:^10}".format("hi"))
print(f'{"hi":^10}')

# 4. 공백 대신 다른 문자
print("{0:=^10}".format("hi"))
print("{0:!<10}".format("hi"))
print(f'{"hi":!<10}')

hi
hi
        hi
        hi
    hi
    hi
====hi====
hi!!!!!!!!
hi!!!!!!!!

In [ ]:
# 소수점 표현하기
y = 3.4211234234
print('{0:0.4f}'.format(y))
print(f'{y:0.4f}')

# {} 문자 표현하기
print("{{ and }}".format())
print(f'{{and}}')

3.4211
3.4211
{ and }
{and}

In [ ]:
# 문자열 함수
a = "hobby"
print(a.count('b'))
a = "Python is the best choice."
print(a.find('b'))
print(a.find('k'))
print(a.index('b'))

# 문자열 삽입 : join
print(",".join("abcd"))

# 공백 지우기 (왼쪽, 오른족, 양쪽) : strip
a = "      hi"
print(a.lstrip())
a = "hi      "
print(a.rstrip())
a = "   hi   "
print(a.strip())

# 문자열 바꾸기 : replace
a = "Life is too short"
print(a.replace("Life", "Your leg"))

2
14
-1
14
a,b,c,d
hi
hi
hi
Your leg is too short

In [ ]:
# 연습문제

# (1) 마일 킬로미터 변환
miles = float(input("마일입력:"))
kms = miles * 1.6
print("%.1f 마일은 %.1f 킬로미터 입니다." %(miles, kms))
print("{0} 마일은 {1} 킬로미터 입니다.".format(miles, kms))
print(f"{miles} 마일은 {kms} 킬로미터 입니다.")

마일입력:61.5
61.5 마일은 98.4 킬로미터 입니다.
61.5 마일은 98.4 킬로미터 입니다.
61.5 마일은 98.4 킬로미터 입니다.

In [ ]:
# (2) 시, 분, 초 계산
time = int(input("시간을 초 단위로 입력:"))
sec = time % 60
min = time // 60
hour = min // 60
min = min % 60      # 앞 min 변수의 몫
print("%d초는 %d시간 %d분 %d초 입니다." %(time, hour, min, sec))
print("{0}초는 {1}시간 {2}분 {3}초 입니다.".format(time, hour, min, sec))
print(f"{time}초는 {hour}시간 {min}분 {sec}초 입니다.")

시간을 초 단위로 입력:6585
6585초는 1시간 49분 45초 입니다.
6585초는 1시간 49분 45초 입니다.
6585초는 1시간 49분 45초 입니다.

# Week 4
### 자료형_리스트, 튜플, 딕셔너리

In [ ]:
# 리스트 관련 함수

# append()
a = [1,2,3]
a.append(4)
print(a)

# sort()
a = [1,4,2,3]
a.sort()
print(a)

# reverse()
a = ['a','c','b']
a.reverse()
print(a)

# index()
a = [1,2,3,4,5]
b = a.index(3)
print(b)
print(a.index(1))

# remove()
a = [1,2,3,1,2,3]
a.remove(3)
print(a)

# pop()
a = [1,2,3]
a.pop(1)    # 위치값
print(a)

# count()
a = [1,2,3,1]
b = a.count(1)
print(b)

# extend()
a = [1,2,3]
a.extend([4,5])
print(a)

[1, 2, 3, 4]
[1, 2, 3, 4]
['b', 'c', 'a']
2
0
[1, 2, 1, 2, 3]
[1, 3]
2
[1, 2, 3, 4, 5]

In [ ]:
# Q1
pin = '881120-1068234'
ymd = pin[:6]
num = pin[7:]
print('연월일:', ymd)
print('번호:', num)

# Q2
sex = pin[7]
print('성별:', sex)

# Q3
a = 'a:b:c:d'
b = a.replace(':','#')
print(b)

연월일: 881120
번호: 1068234
성별: 1
a#b#c#d

In [ ]:
# Q4
a = [1,3,5,4,2]
a.sort()
a.reverse()
print(a)

# Q5
a = ['Life','is','too','short']
b = " ".join(a)
print(b)

[5, 4, 3, 2, 1]
Life is too short

리스트의 각 단어들을 한 문장으로 합칠 때 단어들 사이마다 공백을 넣어줘야 함 → " " 사용하여 join

In [ ]:
# 딕셔너리

# key로 value 얻기
grade = {'kim':10, 'park':99}
print(grade['kim'])

# 관련 함수
# keys()
a = {'name':'kim', 'phone':'01099993323', 'birth':'1118'}
print(a.keys())
print(list(a.keys()))

# values()
print(a.values())

# items()
print(a.items())

# get()
print(a.get('phone'))

# in
print('name' in a)
print('email' in a)

10
dict_keys(['name', 'phone', 'birth'])
['name', 'phone', 'birth']
dict_values(['kim', '01099993323', '1118'])
dict_items([('name', 'kim'), ('phone', '01099993323'), ('birth', '1118')])
01099993323
True
False

In [ ]:
# Q2
a = {'A':90, 'B':80, 'C':70}
result = a.pop('B')
print(a)
print(result)   # 딕셔너리도 pop 함수 사용 가능

# Q3
price = {'pork':25.3, 'beef':33.8, 'chicken':22.7}
print('key_list =', list(price.keys()))
print('val_list =', list(price.values()))
print('item_list =', list(price.items()))

{'A': 90, 'C': 70}
80
key_list = ['pork', 'beef', 'chicken']
val_list = [25.3, 33.8, 22.7]
item_list = [('pork', 25.3), ('beef', 33.8), ('chicken', 22.7)]

# Week 5
### 집합(set), 불(bool), 조건문 if문

In [ ]:
# 불 자료형
# and : 논리곱, or : 논리합, & : 논리곱(비트연산자), | : 논리합 (비트연산자)

print(True or True, True or False, False or True, False or False)
print(True | True, True | False, False | True, False | False)
print(True and True, True and False, False and True, False and False)
print(True & True, True & False, False & True, False & False)

print(not True, not False)
print(int(True), int(False), float(True), float(False))

print(bool(0), bool(1), bool(-3.14))
print(bool(""), bool(" "), bool("False"))

print(False + False, True + False, True + True, False * True, True * True)

x = True or False and True   #and 연산후 or
y = True or True and False   #and 연산후 or
print("x =",x,"y =",y)

x = (True or False) and True
y = (True or True) and False
print("x =",x,"y =",y)

print(not False & False)  #1. False & False 2.not

print(True and (not True)) #1. (  )  2.True and

True True True False
True True True False
True False False False
True False False False
False True
1 0 1.0 0.0
False True True
False True True
0 1 2 0 1
x = True y = True
x = True y = False
True
False

In [ ]:
# 조건문 if문

# 비교연산자
# 첫번째 예제
money = int(input('돈 입력 : '))
if money >= 3000:
  print('택시를 타고 가라')
else:
  print('걸어가라')

# 동전 던지기 게임
import random
print('동전 던지기 게입을 합니다.')
coin = random.randrange(2)      # 0 또는 1
print(coin)
if coin == 1:
  print('앞면입니다.')
else:
  print('뒷면입니다.')
print('게임이 종료되었습니다.')

돈 입력 : 4000
택시를 타고 가라
동전 던지기 게입을 합니다.
0
뒷면입니다.
게임이 종료되었습니다.

In [ ]:
# 논리연산자 : 택시예제
money = int(input('돈 입력 : '))
card = True
if money >= 3000 or card:
    print('택시를 타고 가라')
else:
    print('걸어가라')

# x in s : 택시예제
pocket = ['paper', 'cellphone', 'money']
if 'money' in pocket:
    print('택시를 타고 가라')
else:
    print('걸어가라')

# 조건부 표현식
score = int(input('점수 입력 : '))
if score >= 60:
    message = 'success'
else:
    message = 'failure'
print(message)

message = 'success' if score >= 60 else 'failure'
print(message)

돈 입력 : 6000
택시를 타고 가라
택시를 타고 가라
점수 입력 : 50
failure
failure

In [ ]:
# 실습 예제2
fruit = 'apple'
if fruit == 'Apple':
   fruit = 'Apple'
elif fruit == 'fruit':
     fruit = 'fruit'
else:
  fruit = fruit
print(fruit)

apple

In [ ]:
# 실습 예제3
myage = int(input('Tell me your age? : '))
if myage <= 30:
    print('Welcome to the Club')
else:
    print('Oh! No. You are not accepted.')
# 조건부 표현식
print('Welcome to the Club') if myage <= 30 else print('Oh! No. You are not accepted.')

Tell me your age? : 31
Oh! No. You are not accepted.
Oh! No. You are not accepted.

# Week 6
### while문, for문

In [ ]:
# while문
treeHit = 0
while treeHit < 10:
  treeHit = treeHit + 1
  print('나무를 %d번 찍었습니다.' %treeHit)
  if treeHit == 10:
    print('나무 넘어갑니다.')

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.

In [ ]:
# break문 : 커피자판기 예제
coffee = 10
money = 30
while money:
  print('커피 서비스')
  coffee -= 1
  print('남은 커피의 양은 %d개' %coffee)
  if coffee == 0:
    print('커피가 다 떨어졌습니다. 판매를 중지합니다.')
    break

커피 서비스
남은 커피의 양은 9개
커피 서비스
남은 커피의 양은 8개
커피 서비스
남은 커피의 양은 7개
커피 서비스
남은 커피의 양은 6개
커피 서비스
남은 커피의 양은 5개
커피 서비스
남은 커피의 양은 4개
커피 서비스
남은 커피의 양은 3개
커피 서비스
남은 커피의 양은 2개
커피 서비스
남은 커피의 양은 1개
커피 서비스
남은 커피의 양은 0개
커피가 다 떨어졌습니다. 판매를 중지합니다.

In [ ]:
# 실제 동작 과정과 유사한 커피자판기 실습
coffee = 10
while True:
  money = int(input('돈 입력 : '))
  if money == 300:
    print('커피를 줍니다.')
    coffee -= 1
  elif money > 300:
    print('거스름돈 %d를 주고 커피를 줍니다.' %(money - 300))
    coffee -= 1
  else:
    print('돈을 다시 돌려주고 커피를 주지 않습니다.')
    print('남은 커피의 양은 %d개입니다.' %coffee)
  if coffee == 0:
     print('커피가 다 떨어졌습니다. 판매를 중지합니다.')
     break

돈 입력 : 500
거스름돈 200를 주고 커피를 줍니다.
돈 입력 : 600
거스름돈 300를 주고 커피를 줍니다.
돈 입력 : 700
거스름돈 400를 주고 커피를 줍니다.
돈 입력 : 100
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 7개입니다.
돈 입력 : 1000
거스름돈 700를 주고 커피를 줍니다.
돈 입력 : 700
거스름돈 400를 주고 커피를 줍니다.
돈 입력 : 500
거스름돈 200를 주고 커피를 줍니다.
돈 입력 : 900
거스름돈 600를 주고 커피를 줍니다.
돈 입력 : 800
거스름돈 500를 주고 커피를 줍니다.
돈 입력 : 500
거스름돈 200를 주고 커피를 줍니다.
돈 입력 : 700
거스름돈 400를 주고 커피를 줍니다.
커피가 다 떨어졌습니다. 판매를 중지합니다.

In [ ]:
# 연습문제1
a = 0       # 초기화
sum = 0     # 초기화
while a < 1000:
  a = a + 1
  if a % 3 == 0:
    sum = sum + a
print('1~1000까지 3의 배수의 합 :',sum)

1~1000까지 3의 배수의 합 : 166833

In [ ]:
# 연습문제2
b = 0
while b < 10:
  b += 1
  if b % 3 == 0:
    continue
  else:
    print(b, end=' ')   # 가로출력 방법
print()     # 줄바꿈

1 2 4 5 7 8 10

In [ ]:
# 연습문제3
while True:
  line = input('>')
  if line == 'quit' or line == 'exit':
    break
  else:
     print(line)

>hi
hi
>exit

In [ ]:
# 연습문제4 : 짝수인 인덱스 값의 합
score_list = [5, 10, 15, 20, 25, 30]
sum_score = 0
i = 0
while i < len(score_list):
  if i % 2 == 0:
    sum_score += score_list[i]
  i += 1
print(sum_score)

45

In [ ]:
# for문
marks = [90,25,67,45,80]
number = 0
for mark in marks:
    number += 1
    if mark >= 60:
        print('{0}번 학생은 합격입니다.'.format(number))
    else:
        print('{0}번 학생은 불합격입니다.'.format(number))

# for문 & continue
marks = [90,25,67,45,80]
number = 0
for mark in marks:
    number += 1
    if mark < 60:
        continue    # 불합격이면 출력하지 않음
    else:
        print('{0}번 학생은 합격입니다.'.format(number))

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.
1번 학생은 합격입니다.
3번 학생은 합격입니다.
5번 학생은 합격입니다.

In [ ]:
# for문 & range함수
add = 0
for i in range(1,11):
    add += i
print('1부터 10까지 총합 :', add)

# range 함수 사용 예제
marks = [90,25,67,45,80]
for number in range(len(marks)):
    if marks[number] < 60:
        continue
    else:
        print('%d번 학생 축하합니다. 합격입니다.' %(number+1))  # number+1 주의!

# 터틀그래픽 : for, range로 회오리 그리기 → 파이참으로 실행
'''
import turtle as t
t.shape('turtle')
t.color('blue')
t.speed(0)
angle = 91
for x in range(200):    # 사각형이 커지면서 회전
    t.fd(x)
    t.left(angle)
t.hideturtle()
t.exitonclick()
'''

1부터 10까지 총합 : 55
1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

"\nimport turtle as t\nt.shape('turtle')\nt.color('blue')\nt.speed(0)\nangle = 91\nfor x in range(200):    # 사각형이 커지면서 회전\n    t.fd(x)\n    t.left(angle)\nt.hideturtle()\nt.exitonclick()\n"

In [ ]:
# 구구단 출력 : 이중 중첩 for 루프 사용
for i in range(2, 10):
    for j in range(1, 10):
        print(i*j, end=' ')   # 가로 출력, 한칸 띄기
    print('')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [ ]:
# 리스트 내포 예제
a = [1,2,3,4]
result = []
for num in a:
    result.append(num*3)
print(result)   # 4 이후엔 거짓이 되어 프린트문으로

a = [1,2,3,4]
result = [num*3 for num in a]
print(result)

# 짝수에만 3 곱하기
result = [num*3 for num in a if num % 2 == 0]
print(result)

[3, 6, 9, 12]
[3, 6, 9, 12]
[6, 12]

# Week 7
### 함수, 파일 읽고쓰기

In [ ]:
# 함수의 매개변수 *args
def add_many(*args):
    result = 0  # 변수 result 초기화
    for i in args:
        result += i
    return result
    
result = add_many(1,2,3)
print(result)
result = add_many(1,2,3,4,5,6,7,8,9,10)
print(result)

6
55

In [ ]:
# 매개변수가 있는 *args, add_mul()
def add_mul(choice, *args):
    if choice == 'add':
      result = 0
      for i in args:
        result += i
    elif choice == 'mul':
      result = 1
      for i in args:
        result *= i
    return result
    
result = add_mul('add', 1,2,3,4,5)
print('add =', result)
result = add_mul('mul', 1,2,3,4,5)
print('mul =', result)

add = 15
mul = 120

In [ ]:
# **kwargs : 딕셔너리 자료형으로 만들어줌
def p_kwargs(**kwargs):
    print(kwargs)
p_kwargs(a=1)
p_kwargs(name='눈송이', age=24)

# 함수 빠져나올때 return
def say_nick(nick):
    if nick == '바보':
      return
    print('나의 별명은 %s입니다.' %nick)
say_nick('야호')
say_nick('바보')

{'a': 1}
{'name': '눈송이', 'age': 24}
나의 별명은 야호입니다.

In [ ]:
# 전역변수, 지역변수 이해
a = 1
def vartest1(a):
    a += 1
vartest1(a)  # 함수 안의 a : 아무것도 없음
print(a)     # 함수 밖의 a

#  함수 밖 변수 변경 : return
a = 1
def vartest2(a):
    a += 1
    return(a)
a = vartest2(a)
print(a)

# 함수 밖 변수 변경 : global
a = 1
def vartest3():
  global a
  a += 1
vartest3()
print(a)

1
2
2

In [ ]:
# lambda
def add(a,b):
    return a + b
result = add(3,4)
print(result)

add = lambda a,b : a+b
result = add(3,4)
print(result)

7
7

In [ ]:
# 실습문제
# 1번
def print_school(name, school):
    print('이름:',name)
    print('학교:',school)
print_school('눈송이', '숙명여자대학교')

이름: 눈송이
학교: 숙명여자대학교

In [ ]:
# 2번
def get_sum(start, end):
    sum = 0
    for i in range(start,end):
        sum += i
    return(sum)

print('start에서 end까지의 합:', get_sum(1,10))
print('start에서 end까지의 합:', get_sum(1,1000))

start에서 end까지의 합: 45
start에서 end까지의 합: 499500

In [ ]:
# 3번
def get_square(a,b,c):
    return a**2, b**2, c**2
a_sq, b_sq, c_sq = get_square(2, 5, 7)
print('2의제곱:',a_sq, ', 5의제곱:',b_sq, ', 7의제곱:',c_sq)

2의제곱: 4 , 5의제곱: 25 , 7의제곱: 49

In [ ]:
# random 가위바위보 맞추기
import random
computer = random.randint(0,2)
mine = input('가위,바위,보 중 하나를 입력하세요:')
gbbGames = ['가위','바위','보']
if mine == gbbGames[computer]:
  print('맞혔습니다.')
else:
  print('틀렸습니다.')
print('저는 <',gbbGames[computer],'> 였습니다.')

가위,바위,보 중 하나를 입력하세요:보
틀렸습니다.
저는 < 가위 > 였습니다.

In [ ]:
# 파일 읽고 쓰기 : 파이참



```
# 파일 생성하기
f = open('C:\doit\새파일.txt','w')
for i in range(1,11):
    data = ('%d번째 줄입니다. \n' %i)
    f.write(data)   # data를 파일객체 f에 넣기
    print('%d번째 줄입니다.' %i)
f.close()

# 파일 읽기 : f.readline()
f = open('C:\doit\새파일.txt', 'r')
while True:
    line = f.readline() # readline()으로 읽기
    if not line:
        break
    print(line.strip('\n'))
f.close()

while True:
    data = input('입력:')
    if not data:
        break
    print(data)
```



```
# readlines() 함수
f = open('C:\doit\새파일.txt','r')
lines = f.readlines()   # 모두 읽어서 리스트 형태로 돌려줌
for line in lines:
    print(line.strip('\n'))
f.close()

# read() 함수
f = open('C:\doit\새파일.txt','r')
data = f.read()     # 파일 내용을 전체로 읽음
print(data)
f.close()

# 파일에 새로운 내용 추가하기 : 'a' 모드
f = open('C:\doit\새파일.txt','a')     # append
for i in range(11,20):
    data = '%d번째 줄 입니다.\n'%i
    f.write(data)
f.close()

# with문 함께 사용 : close() 없는 문
f = open('C:\doit/foo.txt','w')
f.write('Life is too short, you need python')
f.close()

with open('C:\doit/foo2.txt','w') as f:
    f.write('Life is too short, you need python')
# with 블록을 벗어나면 열린 파일객체 f가 자동으로 close
```



```
# yesterday.txt 파일
f = open('C:/doit/yesterday.txt','r')
data = f.readline()
print(data)
f.close()

f = open('C:/doit/yesterday.txt','r')
data = f.read()
print(data)
f.close()
```

# Quiz 1

In [ ]:
# Quiz 1 실습문제 코딩하기

# 실습문제1
americano_price = 2000
cafelatte_price = 3000
capucino_price = 3500
americanos = int(input('아메리카노 판매 개수: ',))
cafelattes = int(input('카페라테 판매 개수: ',))
capucinos = int(input('카푸치노 판매 개수: ',))
sales = americanos*americano_price + cafelattes*cafelatte_price + capucinos*capucino_price
print('총 매출은 ', sales, ' 원 입니다.')

아메리카노 판매 개수: 10
카페라테 판매 개수: 20
카푸치노 판매 개수: 30
총 매출은  185000  원 입니다.

In [ ]:
# 실습문제2
weight = float(input('몸무게를 kg 단위로 입력: '),)
height = float(input('키를 미터 단위로 입력: ',))
BMI = weight / height**2
print('당신의 BMI= %.1f'%BMI)

몸무게를 kg 단위로 입력: 85
키를 미터 단위로 입력: 1.75
당신의 BMI= 27.8

In [ ]:
# 실습문제3
money = int(input('투입한 돈: '),)
price = int(input('물건 값: '),)
change = money - price
print('거스름돈: {0}' .format(change))

coin500 = change//500
change = change % 500
coin100 = change//100
print('500원 동전개수: {0}' .format(coin500))
print('100원 동전개수: {0}' .format(coin100))

투입한 돈: 5000
물건 값: 2600
거스름돈: 2400
500원 동전개수: 4
100원 동전개수: 4

In [ ]:
# 실습문제4
price = int(input('기계값 입력: '),)
used = int(input('사용 개월 수: '),)
mpay = float(price/24)
left = 24 - used
charge = mpay*left

print('매달 내는 돈: {0} 원' .format(mpay))
print('남은 약정기간: {0} 개월' .format(left))
print('위약금: {0} 원' .format(charge))

기계값 입력: 1150000
사용 개월 수: 18
매달 내는 돈: 47916.666666666664 원
남은 약정기간: 6 개월
위약금: 287500.0 원

In [ ]:
# 실습문제5
person = int(input('MT 인원수: '),)
amount = int(input('1인당 생수 개수: '),)
total_amount = person*amount
print('필요한 생수 개수: {0}' .format(total_amount))

pack = total_amount // 15
pack_price = pack*10000
bottle = total_amount % 15
bottle_price = bottle*900
total = pack_price + bottle_price

print('생수 팩 구매량: {0} , 구입가격: {1} 원' .format(pack,pack_price))
print('생수 낱개 구매량: {0} , 가격: {1} 원' .format(bottle,bottle_price))
print('생수 총 구매 비용: {0} 원' .format(total))

MT 인원수: 57
1인당 생수 개수: 3
필요한 생수 개수: 171
생수 팩 구매량: 11 , 구입가격: 110000 원
생수 낱개 구매량: 6 , 가격: 5400 원
생수 총 구매 비용: 115400 원